name: Run URL Collect and Extract

on:
  push:
    branches:
      - main  # Kích hoạt workflow khi có đẩy lên nhánh chính
  pull_request:
    branches:
      - main  # Kích hoạt workflow khi có pull request vào nhánh chính

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        token: ${{secrets.KLTN_GITHUB_TOKEN}}

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'  # Chọn phiên bản Python bạn muốn sử dụng

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Cài đặt các phụ thuộc nếu có, bạn có thể thêm các package cần thiết
        pip install -r requirements.txt #httpx tenacity

    - name: Run phase 1
      run: |
        python phase1.py  

    #- name: Run phish_database
    #  run: |
    #    python phish_database.py  

    - name: Run URLs filtering
      run: |
        python URLs_Filter.py
    
    #- name: Run feature extraction
    #  run: |
    #    python feature_extraction.py

    - name: Commit and push changes
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git add ./URLs_Storage/
        git commit -m "Update URLs collected on $(date +'%Y-%m-%d %H:%M:%S')"
        git add url_count.log
        git commit -m "Update log file on $(date +'%Y-%m-%d %H:%M:%S')"
        git push origin main
